<div class="table-responsive">
			<table class="table table-hover"
				id="userSales">
				<thead>
					<tr>
						<th th:text="#{sale.add.saleTitle}" class="col-md-1"></th>
						<th th:text="#{sale.add.saleDescription}" class="col-md-1"></th>
						<th th:text="#{sale.add.saleCost}" class="col-md-1"></th>
						<th th:text="#{sale.userBuys.seller}" class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="sale : ${userBuys}">
						<td th:text="${sale.title}">Title</td>
						<td th:text="${sale.description}">Descripcion</td>
						<td th:text="${sale.cost}">10</td>
						<td th:text="${sale.user.email}">user</td>

					</tr>
				</tbody>
			</table>
		</div>