<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<nav th:replace="fragments/nav" />
	<div sec:authorize="hasRole('ROLE_USER')" th:replace="fragments/money"/>



	<div class="container">
		<h2>
			<span th:text="#{shopping.title}">Tus Ofertas</span>
		</h2>
		<form class="navbar-form" action="/sale/shopping">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Busca por titulo">
			</div>
			<button type="submit" class="btn btn-default"><span th:text="#{find.submit}"></span></button>
		</form>
		<div><p class="text-danger" th:if="${error1}" th:text="#{error.sale.invalidUser}"></p>
			<p class="text-danger" th:if="${error2}" th:text="#{error.sale.notAvailable}"></p>
			<p class="text-danger" th:if="${error3}" th:text="#{error.sale.insufficientMoney}"></p>
		</div>
		<div class="table-responsive">
			<table class="table table-hover"
				id="userSales">
				<thead>
					<tr>
						 <th th:text="#{sale.add.saleTitle}"></th>
      					<th th:text="#{sale.add.saleDescription}"></th>
        				<th th:text="#{sale.add.saleCost}"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						
					</tr>
				</thead>
				<tbody>
				
				
					<tr class="outstanding" th:if="${sale.outstanding}" th:each="sale : ${userSales}" >
						<td th:text="${sale.title}">Title</td>
						<td th:text="${sale.description}">Descripcion</td>
						<td th:text="${sale.cost}">10</td>
						<td th:if="${sale.available and  user!=sale.user}"><a th:href="${'/sale/buy/' + sale.id}"><span
								th:text="#{sale.buy.submit}">Comprar</span></a></td>
								
						<td th:unless="${sale.available}"><span
								th:text="#{sale.sold}">Vendido</span></td>
						
						
						<td th:if="${ user==sale.user}" class="col-md-1"> </td>
						<td th:text="#{outstanding.message}">10</td>
						
					
					</tr>
					
				
					
					<tr th:unless="${sale.outstanding}"  th:each="sale : ${userSales}" >
						<td th:text="${sale.title}">Title</td>
						<td th:text="${sale.description}">Descripcion</td>
						<td th:text="${sale.cost}">10</td>
						<td th:if="${sale.available and  user!=sale.user}"><a th:href="${'/sale/buy/' + sale.id}"><span
								th:text="#{sale.buy.submit}">Comprar</span></a></td>
								
						<td th:unless="${sale.available}"><span
								th:text="#{sale.sold}">Vendido</span></td>
								
						<td th:if="${ user==sale.user}" class="col-md-1"> </td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination"/>
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>