<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>



<div class="container">
  <h2 th:text="#{user.insuficientMoney.title}">Saldo insuficiente</h2>
  
  <div class= "container-fluid">
  		
  		<p><span th:text="#{user.insuficientMoney1}"></span><span th:text="${user.money}"/></span></p>
  		<p><span th:text="#{user.insuficientMoney2}"></span><span th:text="${sale.title}"/></span>
  		<span th:text="#{user.insuficientMoney3}"></span> <span th:text="${sale.cost}"/></span></p>
   		<button><a href="/sale/shopping" th:text="#{users.insuficientMoney.submit}"/></button>
	</div>

</body>
<footer th:replace="fragments/footer"/>
</html>
